
body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo_rules.jpg');
    display: block;
    min-height: 100vh;
    max-width: 1920px;
    background-size: cover;
}

header {
    display: flex;
    background-color: transparent;
    flex-direction: row;    
    width: 100%;
    justify-content: space-between;
}

.exit {
    display: flex;
    margin: 0 auto;
    width: 50px;
    height: auto;
    background-color: white;
    border-radius: 100%;
    margin-top: 3vw;
}

.tituloRules {
    display: flex;
    align-items: center;
    color: white;
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.containerReglas{
    display: flex;
    color: white;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    
}

.developedBy {
    display: flex;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}

.textoRules {
    font-size: 1.2vw;
}