body {
    margin: 0;
    padding: 0;
    background-color: darkgreen;
}

.lineH {
    width: 100%;
    height: 0.1vw;
    background-color: black;
}

.titulo {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}
