body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo_login.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vw;
    font-family: Arial, sans-serif;
}

.botonLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    width: 10vw;
    height: 2vw;
    cursor: pointer;
    font-size: 1vw;
    padding: 1vw;
     
}

